@import 'styles/colors.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  border: 1px solid $gray;
  padding: 12px;
  align-self: start;
}

.item {
  padding: 12px;
  border-radius: 12px;
  font-size: 18px;
  line-height: 18px;
  color: $black;
  cursor: pointer;
}

.active {
  color: $white;
  background-color: $green;
}
