@import 'styles/colors.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 13px -4px $blue19;
  border-radius: 18px;
  min-width: 117px;
  max-height: 228px;
  align-self: start;
}

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  overflow: hidden;
  height: 164px;
}

.image {
  width: 144px;
  height: 144px;
}

.title_container {
  padding: 12px 18px 18px 18px;
}

.title {
  font-size: 18px;
  line-height: 18px;
  color: $black;
}
